$primary-color: #000000;
$secondary-color: #E50914;
$white-color: #FFFFFF;
 
:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  whiteColor: $white-color;
}

.movieList {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.moviePoster {
    margin: 1rem;
}

.moviePoster:hover { 
    transform: scale(1.2); 
}

.footer {
    margin-top: 1rem;
}

.footer_text {
    color: #777;
    font-size: 10px;
    font-weight: 400;
}
  
.container_main_text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: #FFF;
    @media (max-width: 840px) {
        font-size: 14px;
    }
    @media (max-width: 370px) {
        font-size: 10px;
    }
}

.container_secondary_text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin: 0.5rem 0.5rem 0.5rem 0;
    color: #FFF;
    @media (max-width: 840px) {
        font-size: 12px;
    }
    @media (max-width: 370px) {
        font-size: 10px;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    background-color: #000000;
}

.rating_review {
    margin-right: 2rem;
}

.header_text {
    margin-bottom: 1rem;
    color: #E50914;
}

.error_message {
    color: #E50914;
    font-size: 14px;
    font-weight: 400;
}
